body {
  margin: 0;
  background-color: #1f1f1f;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: Anton, sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #49c5b6;
  border-radius: 3.5px;
}

main {
  max-width: 1300px;
}

.title {
  color: #49c5b6;
  font-size: calc(1.5rem + .9vw);
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
  max-width: 1300px;
  min-height: 100vh;
  box-sizing: border-box;
  border-top: #fd2155 1.5px solid;
  border-bottom: #fd2155 1.5px solid;
  z-index: 0;
}

.talk.container {
  min-height: 50vh;
}

.projects, .skills {
  flex-direction: column;
}

@media (max-width: 767px) {
  .title {
    font-size: calc(1.4rem + .9vw);
  }

  .projects.container {
    justify-content: center;
  }
}