.end-line {
    background: #fd2155;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80%;
    height: 2px;
}

.start {
    top: 100%;
}

.middle {
    top: 200%;
}

.final {
    top: 300%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 100vh;
}

.decoration {
    background-color: #fd2155;
    width: 35%;
    height: 100%;
}

.presentation {
    color: #f1f1f1;
    position: absolute;
    width: 60%;
    top: 33%;
    left: 10%;
    animation: presentation 1s;
}

@keyframes presentation {
    from{ transform: translateX(-150%); }
    to{ transform: translateX(0%); }
}

.presentation h4 {
    margin: 0;
    color: #49c5b6;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.presentation h1 {
    font-size: 2.8rem;
    font-family: consolas;
    margin: 15px 0px 15px 0px;
}

.presentation p {
    margin: 0;
    color: #f0f0f0bb;
    text-align: start;
    font-size: 1rem;
    font-family: system-ui;
    animation: presentationP 8s;
}

@keyframes presentationP {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.title {
    color: #49c5b6;
    font-size: 2rem;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
    height: 100vh;
}

.proyects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
    height: 100vh;
}

@media (max-width: 700px) {
    .presentation {
        top: 25%;
    }
}