.lb-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30px;
}

.lb-img {
    border-color: #f0f0f075;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-width: 1px;
}

.lb-img:hover {
    border-color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
}


.lb-img img {
    border-radius: 50%;
}

.lb-img-container{
    display: flex;
    align-items: center;
}

.lb-img-container span{
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    font-size: 14px;
    left: 115%;
}

.lb-img-container:hover span {
    color: #f0f0f0c5;
    visibility: visible;
    animation: textAnimation 0.6s;
}

@keyframes textAnimation {
    from{ opacity: 0%; }
    to{ opacity: 100%; }
}

.lb-line {
    background: #f0f0f075; 
    height: 30px;
    width: 1px;
}

.lb-line-hidden {
    position: absolute;
    visibility: hidden;
}

.lb-contact {
    position: fixed;
    bottom: 0%;
    left: 1.5%;
    animation: contact 1.5s;
}

@keyframes contact {
    from { bottom: -100%; } 
    to { bottom: 0%; }
}

.lb-navigator {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 1.5%;
    animation: navigator 1.5s;
}

@keyframes navigator {
    from { top: -100%; } 
    to { top: 50%; }
}

@media (max-width: 700px) {
    .lb-contact { 
        position: fixed;
        bottom: 0%;
        left: 1.5%;
        animation: contactHidden 1.5s both;
    }

    @keyframes contactHidden {
        from { bottom: 0%; } 
        to { bottom: -100%; }
    }

    .lb-navigator {
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 1.5%;
        animation: navigatorHidden 1.5s both;
    }
    
    @keyframes navigatorHidden {
        from { top: 50%; } 
        to { top: -100%; }
    }
}