.mobile {
    background-color: rgba(0, 0, 0, 0.600);
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 35px;
    visibility: hidden;
}

@media (max-width: 700px) {
    .mobile {
        visibility: visible;
        animation: mobileVisible 1s;
    }
    @keyframes mobileVisible {
        from{top: -10%;}
        to{top: 0%;}
    }
}

.mobile > a {
    color: #f1f1f1;
    font-size: 16px;
}

.mobile > button {
    display: flex;
    padding: 0;
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 50%;
}

.link-mobile {
    position: fixed;
    visibility: hidden;
    display: flex;
    margin-top: 15px;
}

.link-mobile a {
    display: flex;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
}

.link-mobile span {
    padding: 2px 0px 0px 4px;
    color: #f0f0f075;
    border-right: 2px solid #f1f1f1;
    width: 12ch;
    white-space: nowrap;
    animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from{width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

@media (max-width: 700px) {
    .link-mobile {
        position: static;
        visibility: visible;
        animation: link 1s;
    }

    @keyframes link {
        from{transform: translateX(-130%);}
        to{transform: translateX(0%);}
    }
}