.projects-container {
	display: flex;
	align-items: center;
  justify-content: center;
  position: relative;
	color: #f1f1f1;
  min-height: 350px;
	height: 100%;
}

.carrousel-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5%;
  background-color: transparent;
  border: none;
}

.carrousel-projects svg {
  border: #f0f0f075 1.5px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;
}

.carrousel-projects svg:hover {
  border: white 1.5px solid;
  stroke: white;
  height: 40px;
  width: 40px;
}

.project-info span + span {
  margin-left: 15px;
}

.project-info {
  width: 42%;
  margin: 0px 3% 0px 0%;
}

.project-title {
  width: 100%;
}

.projects-links a {
  color: #f1f1f1;
  text-decoration: none;
}

.projects-links a {
  transition: all .3s;
}

.projects-links svg {
  transition: all .3s;
}

.projects-links:hover a{
  color: #fd2155;
}

.projects-links:hover a svg {
  stroke: #fd2155;
}

.projects-links + .projects-links {
  margin-left: 5%;
}

.project-description {
  margin-bottom: 32px;
  max-width: 410px;
  white-space: normal;
  /* overflow: hidden; */
  text-overflow: ellipsis;

}

.used-language {
  margin-top: 32px;
  color: #ffdfe7;
  background-color: #fd21547c;
  padding: 7.5px;
  border-radius: 25px;
}

.project-image {
  width: 40%;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.carrousel-index {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -15%;
  width: 85%;
}

.button-carrousel {
  cursor: pointer;
  background-color: #3d3d3d;
  border: none;
  border-radius: 25px;
  height: 10px;
  width: 48%;
}

.button-carrousel.start {
  background-color: #fd2154b2;
}

/* .button-carrousel.start {
  transition: all 10s linear;
}

.button-carrousel.start {
  background-image: linear-gradient(to right,#3d3d3d,#3d3d3d 50%,#fd2154b2 50%);
  background-size: 200% 100%;
  background-position: -100%;
} */