.proyects-container{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    width: 80%;
    height: 99%;
}

.proyect-card {
    background: #1d1d1d;
    border-radius: 16px;
    padding: 15px;
    height: auto;
    box-shadow: 5px 5px 10px 4px black;
}

.proyect-card:hover {
    animation: proyectCard 3s infinite steps(30);
}

@keyframes proyectCard {
    0% {box-shadow: -5px 5px 10px 0px #49c5b6, 5px -5px 10px 0px #fd2155;}
    25% {box-shadow: -5px -5px 10px 0px #49c5b6, 5px 5px 10px 0px #fd2155;}
    50% {box-shadow: 5px -5px 10px 0px #49c5b6, -5px 5px 10px 0px #fd2155;}
    75% {box-shadow: 5px 5px 10px 0px #49c5b6, -5px -5px 10px 0px #fd2155;}
    100% {box-shadow: -5px 5px 10px 0px #49c5b6, 5px -5px 10px 0px #fd2155;}
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.proyect-title {
    color: #49c5b6;
    font-size: 25px;
    margin-bottom: 15px;
}

.description {
    color: #a7a7a7;
}

.lenguajes {
    color: #a7a7a7;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}

.lenguajes > span {
    margin-right: 10px;
    font-family: consolas;
}

.html5:hover {
    color: #dd4b25;
}

.css:hover {
    color: #2449d8;
}

.javascript:hover {
    color: #e4d04b;
}

.react:hover {
    color: #61dafb;
}

.nodejs:hover {
    color: #89bb3c;
}

.mongodb:hover {
    color: #4ba13e;
}

.sql:hover {
    color: #006b8d;
}

.php:hover {
    color: #7175aa;
}

@media (max-width: 620px) { 
    .proyects-container{
        grid-template-columns: repeat(1, 0.5fr);
        grid-gap: .5rem;
    }

    .proyect-title {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
    }

    
}